@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    color: white;
    font-family: 'Poppins',sans-serif;

    letter-spacing: 1px;
}

body {

    background-color: #27364f;
    
}

.app-wrap {
    background-image: linear-gradient(to bottom rgba(0, 0, 0, 0.3), rgba(211, 119, 48, 0.533));

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    margin: 20px;
    text-align: center;
}

.user-div {
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;

    padding-top: 5px;
}

.user-div input {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;

    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.2);
    color: black;
    border-radius: 16px;

    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

.user-div input:focus {
    background-color: rgba(255, 255, 255, 0.4);
}

.user-div input::placeholder {
    color: white;
}

.user-div button {
    cursor: pointer;

    color: black;

    margin: 20px 0px 30px 0px;
    padding: 10px;
    border-radius: 5px;

    font-size: large;

    border: none;
    outline: none;

    background-color: cornflowerblue;

    transition: 0.4s;
}

.user-div button:hover {
    /* background-color: rgb(44, 66, 106); */
    background: rgba(255,255,255,0.1);
    color: white;
}

.user-div button:active {
    transform: scale(0.95);
    background-color: cornflowerblue;
    color: black;
}

.qr-div {
    display: flex;
    justify-content: center;  
}

.loader-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#loading{
    display: none;

    text-align: center;
    width: 40px;
    height: 40px;

    margin-bottom:30px ;

    border-radius: 50%;
    border: 6px solid #ffffff26;
    border-top: 5px solid #fff ;

    animation: loading 1s linear infinite;
}

@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}